.app-container {
  display: flex;
  width: 98.5vw;
}

.content {
  margin-left: 220px;
  padding: 20px;
  flex: 1;
  background-color: #FFFBDE;
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}